# PyCharm specific files
.idea

# Python compiled bytecode
**/*.pyc

# macOS specific files
.DS_Store

# Virtualenv
venv/

# Dataset
dataset/

# Output
output/
logs/

# Don't ignore dataset in src
!src/dataset/